/*----------------------------------------*/
/*-------------- Animations --------------*/
/*----------------------------------------*/
@keyframes zoom {
    0% {
        opacity: 1;
        transform: scale(1.8);
    }
    50% {
        opacity: 0;
        transform: scale(2.6);
    }
    100% {
        opacity: 1;
        transform: scale(1.8);
    }
}
@keyframes asteroid-1-move {
    from {
        left: 115%;
        top: 6%;
        transform: scale(1);
    }
    to {
        left: -25%;
        top: 14%;
        transform: scale(2.5);
    }
}
@keyframes asteroid-2-move {
    from {
        top: 23%;
        left: -15%;
        transform: scale(1);
    }
    to {
        top: 48%;
        left: 125%;
        transform: scale(2.0);
    }
}
@keyframes asteroid-3-move {
    from {
        top: 59%;
        left: 115%;
        transform: scale(1);
    }
    to {
        top: 85%;
        left: -25%;
        transform: scale(2.0);
    }
}
/*----------------------------------------*/
/*------------ Background style ----------*/
/*----------------------------------------*/
body {
    background: #000;
}
#space {
    height: 745vh;
}
#space, .stars {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0; 
    right: 0;
    background: black;
    background: linear-gradient(#070819, #1b0425, #16091b, #1A1A33, #011, #011, #011, #011, #230f2b, #1d0e23, #041113);
}
.stars {
    background-image: 
    radial-gradient(2px 2px at 20px 30px, #ececb4, rgba(0,0,0,0)), 
    radial-gradient(2px 2px at 40px 70px, #fff, rgba(0,0,0,0)), 
    radial-gradient(2px 2px at 50px 160px, #f3e4ac, rgba(0,0,0,0)), 
    radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)), 
    radial-gradient(2px 2px at 130px 80px, #fff, rgba(0,0,0,0)), 
    radial-gradient(2px 2px at 160px 120px, #fff1cc, rgba(0,0,0,0));
    background-repeat: repeat;
    background-size: 200px 200px;
    animation: zoom 50s infinite;
    animation-timing-function: linear;
}
.meteors {
    position: absolute;
}
.asteroids {
    position: absolute;
}
.asteroids img{
    width: 135px;
}
/*------------ Stars positions -----------*/
.stars:nth-child(1) {
    background-position: 50% 50%;
}
.stars:nth-child(2) {
    background-position: 20% 60%;
}
.stars:nth-child(3) {
    background-position: -20% -30%;
}
.stars:nth-child(4) {
    background-position: 40% -80%;
}
.stars:nth-child(5) {
    background-position: -20% 30%;
}
.stars:nth-child(6) {
    background-position: 0% 20%;
}
/*------------ Meteors positions ---------*/
#meteor-1 {
    top: 46%;
    left: 75%;
}
#meteor-2 {
    top: 10%;
    left: 85%;
}
#meteor-3 {
    top: 25%;
    left: 85%;
}
#meteor-4 {
    bottom: 60%;
    left: 45%;
}
#meteor-5 {
    top: 50%;
    left: 30%;
}
#meteor-6 {
    top: 70%;
    left: 58%;
}
#meteor-7 {
    top: 78.5%;
    left: 78%;
}
#meteor-8 {
    top: 81%;
    left: 15%;
}
#meteor-9 {
    top: 32%;
    left: 3%;
}
#meteor-10 {
    top: 62%;
    left: 38%;
}
#meteor-11 {
    top: 56%;
    left: 85%;
}
#meteor-12 {
    top: 16.5%;
    left: 53%;
}
#meteor-13 {
    top: 2%;
    left: 5%;
}
/*------------ Asteroids positions -------*/
#asteroid-1 {
    top: 16%;
    left: 115%;
    animation: asteroid-1-move 13s infinite;
    animation-timing-function: cease;
}
#asteroid-1 img{
    transform: rotate(25deg);
}
#asteroid-2 {
    top: 46%;
    left: -15%;
    animation: asteroid-2-move 35s infinite;
    animation-timing-function: cease;
    animation-delay: 4s;
}
#asteroid-2 img{
    transform: rotate(265deg);
}
#asteroid-3 {
    top: 82%;
    left: 115%;
    animation: asteroid-3-move 40s infinite;
    animation-delay: 10s;
    animation-timing-function: cease;
}
#asteroid-3 img{
    transform: rotate(0deg);
}