/*----------------------------------------*/
/*--------------- Animation --------------*/
/*----------------------------------------*/

/*----------- Book animations ------------*/
@keyframes flip-page-right {
  0% {
    transform-origin: left;
    transform: rotateY(0deg) translateX(0px) scale(1);
  }
  5% {
    transform-origin: right;
    transform: rotateY(10deg) translateX(0px) scaleX(1.01);
  }
  10% {
    transform-origin: right;
    transform: rotateY(20deg) translateX(0px) scaleX(1.04);
  }
  20% {
    transform-origin: right;
    transform: rotateY(50deg) translateX(0px) scaleX(1.05);
  }
  30% {
    transform-origin: right;
    transform: rotateY(70deg) translateX(0px) scaleX(1.08);
  }
  40% {
    transform-origin: right;
    transform: rotateY(90deg) translateX(90px) scaleX(1.1);
  }
  50% {
    transform-origin: right;
    transform: rotateY(110deg) translateX(0px) scaleX(1.12);
  }
  70% {
    transform-origin: right;
    transform: rotateY(150deg) translateX(0px) scaleX(1.02);
  }
  100% {
    transform-origin: right;
    transform: rotateY(180deg) translateX(0px) scale(1);
  }
}
@keyframes flip-page-left {
  0% {
    transform-origin: right;
    transform: rotateY(0deg) translateX(0px) scale(1);
  }
  5% {
    transform-origin: left;
    transform: rotateY(-10deg) translateX(0px) scaleX(1.01);
  }
  10% {
    transform-origin: left;
    transform: rotateY(-20deg) translateX(0px) scaleX(1.04);
  }
  20% {
    transform-origin: left;
    transform: rotateY(-50deg) translateX(0px) scaleX(1.05);
  }
  30% {
    transform-origin: left;
    transform: rotateY(-70deg) translateX(0px) scaleX(1.08);
  }
  40% {
    transform-origin: left;
    transform: rotateY(-90deg) translateX(90px) scaleX(1.1);
  }
  50% {
    transform-origin: left;
    transform: rotateY(-110deg) translateX(0px) scaleX(1.12);
  }
  70% {
    transform-origin: left;
    transform: rotateY(-150deg) translateX(0px) scaleX(1.02);
  }
  100% {
    transform-origin: left;
    transform: rotateY(-180deg) translateX(0px) scale(1);
  }
}

/*----------- Space animations -----------*/
@keyframes zoom {
  0% {
      opacity: 1;
      transform: scale(1.8);
  }
  50% {
      opacity: 0;
      transform: scale(2.6);
  }
  100% {
      opacity: 1;
      transform: scale(1.8);
  }
}
@keyframes rocket-move {
  0% {
    top: 34%;
    left: 5%;
    transform: rotate(159deg);
  }
  20% {
    top: 10%;
    left: 25%;
    transform: rotate(185deg);
  }
  30% {
    top: 44%;
    left: 75%;
    transform: rotate(195deg);
  }
  40% {
    top: 14%;
    left: 79%;
    transform: rotate(-15deg);
  }
  50% {
    top: 14%;
    left: 81%;
    transform: rotate(-95deg);
  }
  60% {
    top: 85%;
    left: 90%;
    transform: rotate(-95deg);
  }
  62% {
    top: 85%;
    left: 90%;
    transform: rotate(15deg);
  }
  75% {
    top: 75%;
    left: 9%;
    transform: rotate(15deg);
  }
  80% {
    top: 65%;
    left: 4%;
    transform: rotate(70deg);
  }
  100% {
    top: 34%;
    left: 5%;
    transform: rotate(159deg);
  }
}
@keyframes asteroid-1-move {
  from {
      left: 115%;
      top: 6%;
      transform: scale(1);
  }
  to {
      left: -25%;
      top: 14%;
      transform: scale(2.5);
  }
}
@keyframes asteroid-2-move {
  from {
      top: 23%;
      left: -15%;
      transform: scale(1);
  }
  to {
      top: 48%;
      left: 125%;
      transform: scale(2.0);
  }
}
@keyframes asteroid-3-move {
  from {
      top: 59%;
      left: 115%;
      transform: scale(1);
  }
  to {
      top: 85%;
      left: -25%;
      transform: scale(2.0);
  }
}
/*----------------------------------------*/
/*----------------- Book -----------------*/
/*----------------------------------------*/
.book h1{
  font-family: 'Pacifico', cursive;
  font-size: 34px;
  padding: 25px;
  padding-top: 40px;
}
.book p{
  font-family: 'Margarine', cursive;
  font-size: 24px;
  padding: 25px 50px;
  color: #1b1844;
}

/*----------- Book illustraion -----------*/
.book img{
  width: 56%;
  height: auto;
  margin: 51px;
  opacity: 0.8;
  box-shadow: 0px 7px 10px -2px rgba(0,0,0,0.39);
  -webkit-box-shadow: 0px 7px 10px -2px rgba(0,0,0,0.39);
  -moz-box-shadow: 0px 7px 10px -2px rgba(0,0,0,0.39);
  clip-path: polygon( 0% 0%, 0% 93%, 5% 98%, 6% 99%, 8% 95%, 12% 94%, 15% 97%, 17% 93%, 20% 98%, 22% 97%, 25% 99%, 31% 94%, 35% 93%, 39% 96%, 43% 93%, 45% 94%, 47% 95%, 50% 92%, 52% 96%, 54% 93%, 58% 92%, 60% 95%, 62% 93%, 65% 96%, 69% 93%, 72% 93%, 75% 94%, 79% 97%, 81% 94%, 85% 93%, 88% 92%, 90% 95%, 93% 93%, 95% 92%, 97% 95%, 100% 97%, 100% 0% );
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 5px;
  background: bisque;
  transform: rotateZ(-14deg);
}
.book .snap {
  width: 120px;
  opacity: 1;
  transform: rotateZ(9deg);
  margin: 0px;
  background: #39332c;
  transform: rotateZ(-14deg);
  background-image: radial-gradient(2px 2px at 20px 30px, #ececb4, rgba(0,0,0,0)), radial-gradient(2px 2px at 20px 70px, #fff, rgba(0,0,0,0)), radial-gradient(2px 2px at 57px 32px, #F3E4A5, rgba(0,0,0,0)), radial-gradient(2px 2px at 100px 58px, #fff, rgba(0,0,0,0)), radial-gradient(2px 2px at 10px 14px, #fff, rgba(0,0,0,0)), radial-gradient(2px 2px at 60px 110px, #fff1cc, rgba(0,0,0,0));
  margin-bottom: -50px;
}
.book .snap + .tape.lower-corner {
  transform: rotate(118deg) translate(-151px, -246px);
}
.book .snap + .tape {
  width: 124px;
}
.book #earth {
  transform: rotateZ(30deg);
  margin-bottom: -40px;
  margin-top: 15px;
}
.book #staturn-v {
  transform: rotate(344deg);
  margin-bottom: -60px;
  margin-top: -10px;
  margin-right: 18px;
}
.book #neptune {
  transform: rotateZ(13deg);
  margin-top: 5px;
}
.book #neptune + .tape {
  transform: rotate(98deg) translate(-141px, -261px);
  width: 50px;
}
.book .tape {
  width: 230px;
  height: 50px;
  background: #f0f8ff7a;
  backdrop-filter: blur(3px);
  border-style: none groove;
  border-color: #6c6a6a17;
  border-width: 5px;
  border: 2px solid #d6d6d67d;
}
.book .tape.lower-corner {
  transform: rotate(45deg) translate(-46px, -105px);
  clip-path: polygon(0 37%, 4% 70%, 0 100%, 100% 100%, 96% 85%, 100% 64%, 94% 31%, 100% 0, 0 0, 4% 17%);
}
.book .tape.higher-corner {
  transform: rotate(45deg) translate(-81px, -499px);
  clip-path: polygon(0 37%, 4% 70%, 0 100%, 100% 100%, 96% 85%, 100% 64%, 94% 31%, 100% 0, 0 0, 4% 17%);
}

/*--------------- Boog Page --------------*/
.book .loading-page {
  position: relative;
  z-index: 1;
  margin-right: -580px;
  top: 0px;
  left: 0px;
  width: 580px;
}
.book .cover-page {
  position: relative;
  z-index: 0;
  margin-right: -580px;
  width: 580px;
  height: 640px;
  border-bottom-width: 10px;
  background-color: antiquewhite;
}
.book .cover-page.left {
  border-left-width: 7px;
  top: 0px;
  left: 0px;
  box-shadow: -61px 0px 60px -26px rgba(0, 0, 0, 0.274) inset;
  -webkit-box-shadow: -61px 0px 60px -26px rgba(0,0,0,0.274) inset;
  -moz-box-shadow: -61px 0px 60px -26px rgba(0,0,0,0.274) inset;
  border-style: none none solid solid;
  border-left-color: #656565;
  border-bottom-color: #333333;
  border-top-left-radius: 7px 30px;
  border-bottom-right-radius: 30px 7px;
}
.book .cover-page.rigth {
  border-right-width: 7px;
  right: 580px;
  left: unset;
  box-shadow: 61px 0px 60px -26px rgba(0,0,0,0.274) inset;
  -webkit-box-shadow: 61px 0px 60px -26px rgba(0,0,0,0.274) inset;
  -moz-box-shadow: 61px 0px 60px -26px rgba(0,0,0,0.274) inset;
  border-style: none solid solid none;
  border-left-color: #656565;
  border-bottom-color: #333333;
  border-top-right-radius: 7px 30px;
  border-bottom-left-radius: 30px 7px;
}
.left-page, .right-page{
  width: 50%;
}
.front-page, .back-page {
  background-color: #ebebeb;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.front-page {
  color: black;
}
.back-page {
  color: white;
  transform: rotateY(180deg);
}
.left .front-page, .right .back-page {
  box-shadow: -61px 0px 60px -26px rgba(0, 0, 0, 0.274) inset;
  -webkit-box-shadow: -61px 0px 60px -26px rgba(0,0,0,0.274) inset;
  -moz-box-shadow: -61px 0px 60px -26px rgba(0,0,0,0.274) inset;
}
.right .front-page, .left .back-page {
  box-shadow: 61px 0px 60px -26px rgba(0,0,0,0.274) inset;
  -webkit-box-shadow: 61px 0px 60px -26px rgba(0,0,0,0.274) inset;
  -moz-box-shadow: 61px 0px 60px -26px rgba(0,0,0,0.274) inset;
}
/*----------------------------------------*/
/*------------ Turning page --------------*/
/*----------------------------------------*/
.flip-page-inner .front-page, .flip-page-inner .back-page{
  overflow: hidden;
}
.flip-page {
  visibility: hidden;
  width: 580px;
  height: 640px;
  perspective: 5000px;
  transition: transform 0.5s ease-in-out;
}
.flip-page-inner {
  position: relative;
  width: 100%;
  height: 640px;
  text-align: center;
  transition: transform 1.1s, margin-left 1.4s, z-index 2s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}
.flip-page-animation{
  z-index: 999;
}
.flip-page-animation .left{
  transform-origin: right;
  animation: flip-page-right 2s linear;
  transform: rotateY(180deg) translateX(0px);
}
.flip-page-animation .left .front-page{
  transition: box-shadow 2s linear;
  box-shadow: -100% 0px 60px -26px rgba(0, 0, 0, 0.274) inset;
  -webkit-box-shadow: -301px 0px 60px -26px rgba(0,0,0,0.274) inset;
  -moz-box-shadow: -301px 0px 60px -26px rgba(0,0,0,0.274) inset;
}
.flip-page-animation .right{
  transform-origin: left;
  animation: flip-page-left 2s linear;
  transform: rotateY(-180deg) translateX(1160px);
}
.flip-page-animation .right .front-page{
  transition: box-shadow 3s linear;
  box-shadow: 580px 0px 60px -26px rgba(0, 0, 0, 0.274) inset;
  -webkit-box-shadow: 580px 0px 60px -26px rgba(0,0,0,0.274) inset;
  -moz-box-shadow: 580px 0px 60px -26px rgba(0,0,0,0.274) inset;
}
/*----------------------------------------*/
/*---------- Space background ------------*/
/*----------------------------------------*/
body {
  background: #000;
}
#space {
  height: 135vh;
}
#space, .stars {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0; 
  right: 0;
  background: black;
  background: linear-gradient(#070819, #1b0425, #16091b, #1A1A33, #011, #011, #011, #011, #230f2b, #1d0e23, #041113);
}
.stars {
  background-image: 
  radial-gradient(2px 2px at 20px 30px, #ececb4, rgba(0,0,0,0)), 
  radial-gradient(2px 2px at 40px 70px, #fff, rgba(0,0,0,0)), 
  radial-gradient(2px 2px at 50px 160px, #f3e4ac, rgba(0,0,0,0)), 
  radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)), 
  radial-gradient(2px 2px at 130px 80px, #fff, rgba(0,0,0,0)), 
  radial-gradient(2px 2px at 160px 120px, #fff1cc, rgba(0,0,0,0));
  background-repeat: repeat;
  background-size: 200px 200px;
  animation: zoom 50s infinite;
  animation-timing-function: linear;
}
.meteors {
  position: absolute;
}
.asteroids {
  position: absolute;
}
.asteroids img{
  width: 135px;
}
/*------------ Stars positions -----------*/
.stars:nth-child(1) {
  background-position: 50% 50%;
}
.stars:nth-child(2) {
  background-position: 20% 60%;
}
.stars:nth-child(3) {
  background-position: -20% -30%;
}
.stars:nth-child(4) {
  background-position: 40% -80%;
}
.stars:nth-child(5) {
  background-position: -20% 30%;
}
.stars:nth-child(6) {
  background-position: 0% 20%;
}
/*------------ Meteors positions ---------*/
#meteor-1 {
  top: 46%;
  left: 10%;
}
#meteor-2 {
  top: 10%;
  left: 5%;
}
#meteor-3 {
  top: 25%;
  left: 85%;
}
#meteor-4 {
  bottom: 20%;
  left: 25%;
}
#meteor-5 {
  top: 10%;
  left: 60%;
}
#meteor-6 {
  top: 70%;
  left: 58%;
}
#meteor-7 {
  top: 48.5%;
  left: 78%;
}
/*------------ Asteroids positions -------*/
#space .rocket {
  z-index: 2;
  position: absolute;
  top: 34%;
  left: 5%;
  width: 200px;
  transform: rotate(159deg);
  animation: rocket-move 60s infinite;
}
#asteroid-1 {
  top: 16%;
  left: 115%;
  animation: asteroid-1-move 13s infinite;
  animation-timing-function: cease;
}
#asteroid-1 img{
  transform: rotate(25deg);
}
#asteroid-2 {
  top: 46%;
  left: -15%;
  animation: asteroid-2-move 35s infinite;
  animation-timing-function: cease;
  animation-delay: 4s;
}
#asteroid-2 img{
  transform: rotate(240deg);
}
#asteroid-3 {
  top: 82%;
  left: 115%;
  animation: asteroid-3-move 40s infinite;
  animation-delay: 10s;
  animation-timing-function: cease;
}
#asteroid-3 img{
  transform: rotate(0deg);
}