.score{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    color: white;
}
#points{
    right: 50px;
    top: 120px;
    font-size: 30px;
}
#time{
    right: 50px;
    top: 160px;
    font-size: 30px;
}
#avatar{
    width: 100px;
    position: absolute;
}
button{
    width: 100px;
    padding: 20px 30px;
    border-radius: 20px;
    background: #443e71;
    color: white;
    font-size: 16px;
    margin: 5px;
    border: 5px solid #353535;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top: none;
}
.controls{
    position: fixed;
    border: 5px solid #33343e;
    border-radius: 20px;
    background: gray;
    left: 34%;
    bottom: -11%;
    padding: 20px;
    padding-bottom: 100px;
}
#space {
    height:100% !important;
}
#asteroid-1 img{
    transform: rotate(35deg);
    width: 52px;
}
#asteroid-2 img{
    transform: rotate(235deg);
    width: 82px;
}
#asteroid-3 img{
    transform: rotate(40deg);
    width: 82px;
}
.planets{
    position: absolute;
}
.planets img{
    width: 80px;
}
#planet-1 {
    top: 46%;
    left: 75%;
}
#planet-2 {
    top: 20%;
    left: 85%;
}
#planet-3 {
    top: 25%;
    left: 85%;
}
#planet-4 {
    bottom: 60%;
    left: 45%;
}
#planet-5 {
    top: 50%;
    left: 30%;
}
#planet-6 {
    top: 70%;
    left: 58%;
}
#planet-7 {
    top: 78.5%;
    left: 78%;
}
#planet-8 {
    top: 81%;
    left: 15%;
}
#planet-9 {
    top: 32%;
    left: 3%;
}
