/*----------------------------------------*/
/*  > Directory                           */
/*    > Animations                        */
/*    > Initial Style                     */
/*    > Navegation Bar                    */
/*    > Index Content                     */
/*    > Explore Content                   */
/*      > Side nav panel                  */
/*      > Hearder section                 */
/*      > Solar section                   */
/*      > Rocket section                  */
/*      > Galaxies section                */
/*      > History section                 */
/*    > Element Content                   */
/*      > Main Content                    */
/*    > Characters Content                */
/*      > Main Content                    */
/*    > About Content                     */
/*      > Main Content                    */
/*    > Book                              */
/*      > Main Content                    */
/*    > About                             */
/*      > Main Content                    */
/*    > Footer Bar                        */
/*----------------------------------------*/
.all-fonts {
    font-family: 'Baloo Chettan', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Margarine', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Acme', sans-serif;
    font-family: 'Courgette', cursive;
}
/*----------------------------------------*/
/*-------------- Animations --------------*/
/*----------------------------------------*/
@keyframes rocket-move{
    0%{ 
        transform: rotate(-15deg);
        top: 0;
        right: calc(-25% - 300px);}
    50%{ 
        transform: rotate(0deg);
        top: 28%;
        right: calc(75% - 80px);}
    100%{ 
        transform: rotate(15deg);
        top: 0;
        right: 130%;}
}
@keyframes prince-fade-out{
    from{
        visibility: visible;
    }
    to{
        visibility: hidden;
    }
}
@keyframes planet-move{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}
/*----------------------------------------*/
/*------------- Initial style ------------*/
/*----------------------------------------*/
*, html {
    scroll-behavior: smooth !important;
}
body{
    padding: 0;
    margin: 0;
    background: #1d1d1d;
    background-size: cover;
    overflow-x: hidden;
    color: #4a4a4a;
}
canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}
a.tooltip {
    position: relative;
    display: inline;
    font-family: 'Baloo Chettan', cursive;
}
a.tooltip span {
    position: absolute;
    width:160px;
    color: #FFFFFF;
    background: #4d6c7b;
    height: 33px;
    line-height: 33px;
    text-align: center;
    visibility: hidden;
    border-radius: 6px;
}
a.tooltip span:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -8px;
    width: 0; 
    height: 0;
    border-left: 8px solid #4d6c7b;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}
a:hover.tooltip span {
    visibility: visible;
    opacity: 0.89;
    right: 100%;
    top: 50%;
    margin-top: -16.5px;
    margin-right: 30px;
    z-index: 999
}
.loader {
    position: absolute;
    left: 45%;
    top: 45%;
    z-index: 9999;
    border: 10px dotted #282b7c;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    animation: spin 5s linear infinite;
}
.loader img{
    padding-top: 10px;
    padding-left: 15px;
    width: 100px;

}
#content{
    display: none;
}
/*----------------------------------------*/
/*------------- Navegation bar -----------*/
/*----------------------------------------*/
.nav-bar-main{
    display: flex;
    padding: 30px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.81) 0%, rgba(122, 122, 198, 0.54) 64%, rgba(34, 31, 140, 0.81) 100%);
    z-index: 100;
}
.nav-bar-main .nav-bar-links{
    position: absolute;
    padding: 15px;
    right: 3%;
}
.nav-title{
    font-family: 'Courgette', cursive;
    font-weight: 600;
    font-size: 25px;
    color: #fcffa5;
}
.nav-title i{
    color: #7576bf;
}
.nav-title strong{
    font-family: 'Montserrat', sans-serif;
    color: #9594b7;
}
.nav-bar-main a{
    font-family: 'Baloo Chettan', cursive;
    padding: 15px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.nav-bar-main .active a{
    color: white;
}
.nav-bar-links li:hover a{
    color: #ffff6f;
    transition: color 0.5s;
}
.nav-bar-main .nav-bar-links li{
    display: inline;
}
/*----------------------------------------*/
/*------------- Index Content ------------*/
/*----------------------------------------*/
.main-content{
    height: calc(100vh - 268px);
}
.main-content .rocket{
    z-index: 1000;
    width: 300px;
    position: absolute;
    right: calc(-25% - 300px);
}
.main-content .little-prince{
    width: 88px;
    position: absolute;
    top: 28%;
    left: calc(25% - 88px);
    visibility: visible;
}
.main-content .main-planet{
    position: relative;
    left: calc(25% - 320px);
    top: calc(28% + 60px);
    z-index: -1;
}
.main-content .main-title{
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 37px;
    position: absolute;
    margin-left: 10%;
    top: 50%;
    right: 10%;
}
/*----------------------------------------*/
/*------------ Explore Content -----------*/
/*----------------------------------------*/
.explore-title{
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 37px;
    padding: 25px;
    border-bottom: 7px solid #282b7cba;
    width: fit-content;
}
a.tip-explore {
    position: relative;
    display: inline;
    font-family: 'Montserrat', sans-serif;
}
a.tip-explore span {
    position: absolute;
    width:140px;
    color: #FFFFFF;
    background: #282b7c;
    line-height: 33px;
    text-align: center;
    visibility: hidden;
    border-radius: 6px;
}
a.tip-explore span:after{
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0; height: 0;
    border-bottom: 8px solid #282b7c;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
a:hover.tip-explore span {
    visibility: visible;
    opacity: 0.89;
    top: -80px;
    left: 50%;
    margin-left: -76px;
    z-index: 999;
}
/*------------ Side nav panel  -----------*/
.side-nav-panel .side-bar-links{
    position: fixed;
    background: #252529c2;
    border-radius: 20px;
    padding: 15px;
    right: 5%;
    top: 35%;
}
.side-nav-panel .side-bar-links li{
    display: block;
    padding: 0px;
    text-align: center;
}
.side-nav-panel .side-bar-links .line{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: white;
    padding: 12px;
    font-size: 21px;
}
.side-nav-panel .side-bar-links a{
    color: white;
    font-size: 24px;
}
.side-nav-panel .side-bar-links li:hover a{
    color: #9ecbe2;
}
.side-nav-panel .side-bar-links li:focus a{
    color: #ffff6f;
}
/*------------ Header section ------------*/
.explore-content{
    height: 850px;
}
.explore-content .rocket{
    z-index: 1000;
    width: 300px;
    position: absolute;
    right: -25%;
}
.explore-content .little-prince{
    width: 145px;
    position: absolute;
    top: 23em;
    left: calc(50% - 95px);
    visibility: visible;
}
.explore-content .main-planet{
    position: absolute;
    left: calc(50% - 306px);
    top: 30em;
    z-index: -1;
}
.explore-content .explore-title{
    position: absolute;
    top: 5em;
    right: calc(50% - 366px);
    margin: 0px;
}
#fade-main-text{
    display: none;
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
    font-size: 29px;
    padding: 35px;
    margin: 0px calc(50% - 325px);
    line-height: 50px;
    background: #0d475a80;
    border-radius: 15px;
    position: absolute;
    top: 20em;
    width: 600px;
}
/*--------- Solar system section ---------*/
.solar-system{
    padding: 30px;
    margin: 180px 30px;
    text-align: center;
}
.solar-system a:hover img{
    animation: planet-move 2s linear infinite;
}
/*------------ Rocket section ------------*/
.rocket-science{
    padding: 30px;
    margin: 100px 30px;
    text-align: center;
}
.rocket-science .rockets-img{
    padding: 10%;
}
.rocket-science .tip-explore img{
    width: 100%;
}
.rocket-science .rockets-img a:nth-child(1) img{
    margin-top: -320px;
}
.rocket-science .rockets-img a:nth-child(2) img{
    margin-top: -150px;
}
.rocket-science .rockets-img a:nth-child(1):hover.tip-explore span {
    top: -250px;
}
.rocket-science .rockets-img a:nth-child(2):hover.tip-explore span {
    top: -27px;
}
/*------------ Galaxies section ----------*/
.galaxies-section{
    padding: 30px;
    margin: 100px 30px;
    text-align: center;
}
.galaxies-section .galaxies-img{
    padding: 5%;
    display: flex;
}
.galaxies-section .tip-explore{
    width: 33.3%;
}
.galaxies-section .tip-explore img{
    width: 100%;
}
.galaxies-section .galaxies-img a:nth-child(1) img{
    margin-top: 104px;
}
.galaxies-section .galaxies-img a:nth-child(2) img{
    margin-top: 0px;
}
.galaxies-section .galaxies-img a:nth-child(3) img{
    margin-top: 57px;
}
.galaxies-section .galaxies-img a:hover.tip-explore span {
    top: 380px;
}
/*------------ History section -----------*/
.history-section{
    padding: 30px;
    margin: 100px 30px;
    text-align: center;
}
.history-section .history-timeline{
    display: flex;
    padding: 306px 63px;
    padding-bottom: 58px;
    margin: 4%;
    border: 3px solid white;
    border-radius: 20px;
}
.history-section .history-timeline hr{
    width: 10%;
    color: white;
    height: 0px;
    margin-top: 30px;
}
.history-section .history-timeline .history-point .history-img{
    display: none;
    position: absolute;
    top: -300px;
    left: -55px;
    width: 160px;
    height: 209px;
    border: 5px solid #212360e8;
    border-radius: 20px;
}
.history-section .history-timeline .history-point hr{
    display: none;
    position: absolute;
    width: 0px;
    height: 63px;
    left: 27px;
    top: -108px;
    border-width: 3px;
    border-style: dashed;
    border-color: #212360e8;
    z-index: -1;
}
.history-section .history-timeline .history-point .history-img img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.history-section .history-timeline .history-point i{
    padding: 15px 18px;
    border-radius: 50px;
    background: #34346fb5;
    font-size: 30px;
    color: #badae0;
}
.history-section .history-timeline .arrow-history{
    position: absolute;
    left: 12%;
    width: 76%;
    margin-top: -230px;
}
.history-section .history-timeline .history-point .tip-explore:hover i{
    background: white;
    color: #34346fb5;
    transition: all 0.5s;
}
.history-section .history-timeline .history-point .tip-explore:hover.tip-explore span{
    top: 52px;
    margin-left: -70px;
}
.history-section .history-timeline .history-point .tip-explore:hover .history-img{
    display: block;
}
.history-section .history-timeline .history-point .tip-explore:hover hr{
    display: block;
}
/*----------------------------------------*/
/*------------ Element Content -----------*/
/*----------------------------------------*/

/*------------- Main section -------------*/
.element-content{
    display: flex;
}
.element-content .image-side{
    width: 50%;
    padding: 35px;
}
.element-content .image-side img{
    margin-top: 200px;
    width: 100%;
}
.element-content .text-side{
    width: 50%;
    background: #607d8bde;
    padding: 35px;
    text-align: center !important;
}
.element-content .text-side .content{
    padding: 50px;
    color: white;
    text-align: left;
}
.element-content .text-side .content p{
    font-size: 20px;
    line-height: 1.5;
}
/*----------------------------------------*/
/*------------ Characters Content --------*/
/*----------------------------------------*/
.main-characters{
    padding: 50px;
}
.name-character{
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    color: purple;
}
.title-character {
    font-family: 'Baloo Chettan', cursive;
    font-size: 20px;
    color: white;
}
.card-container{
    float: left;
    width: 30%;
    margin-bottom: 16px;
    padding: 0 8px;
}
.card-container .card-character {
    padding: 50px;
    border-radius: 10px;
    background: #9594b7;
    text-align: center;
    height: 560px;
}
.card-container .card-character img{
    width: 100%;
}
.container {
    padding: 0 16px;
}
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
} 
/*----------------------------------------*/
/*------------ About Content -------------*/
/*----------------------------------------*/
.main-about{
    background-image: url(../images/about.jpg);
    filter: blur(1.5px);
    background-size: cover;
    background-position-y: -100px;
    height: 600px;
}
.main-about-content{
    background: rgba(231, 236, 253, 0.72);
    display: flex;
}
.main-about-title{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 46px;
    font-weight: bolder;
    color: #f5f5f2;
    top: 40%;
    left: 30%;
    padding: 70px 180px;
    background: #282b7cba;
}
.main-about-history{
    font-family: 'Quicksand', sans-serif;
    background: rgb(231, 236, 253); 
}
.main-about-history .history-info{
    padding: 70px;
    text-align: center;
}
.main-about-history .history-info hr{
    border-width: 2px;
    border-style: solid;
    margin-top: 0px;
    margin-bottom: 0px;
    border-color: #5b609f;
    height: 60px;
    width: 0px;
}
.main-about-history .history-info i{
    color: white;
    background: #5b609f;
    border-radius: 40px;
    font-size: 25px;
    padding: 20px;
}
.main-about-history .history-info h3{
color: #a0a0a0;
}
.main-about-history .history-info section{
    border: 2px solid #5b609f;
    margin: 0px 450px;
}
.main-about-content section{
    text-align: center;
}
.main-about-content .profile-pictures{
    width: 40%;
} 
.main-about-content .profile-info{
    width: 60%;
}
.main-about-content h1,.main-about-history .history-info h1{
    font-family: 'Quicksand', sans-serif;
    color: #3b3f78b5;
    font-size: 37px;
    margin: 40px 250px;
    padding: 10px;
    border-bottom: 7px solid #282b7cba;
}
.main-about-history .history-info h1{
    margin: 40px 450px;
}
.main-about-content p{
    font-family: 'Montserrat', sans-serif;
    line-height: 29px;
    text-align: left;
    padding: 20px 70px;
}
.main-about-content .profile-pictures{
    padding-top: 160px;
}
.main-about-content .profile-pictures img{
    width: 250px;
    height: 250px;
    border-radius: 300px;
    border: 7px solid #1b1844;
}
/*----------------------------------------*/
/*------------- Book content -------------*/
/*----------------------------------------*/
.main-story{
    text-align: center;
    margin: 10% 0%;
}
.book{
    display: flex;
    margin: 10px auto;
    background: #525151;
    width: fit-content;
    border-radius: 30px;
}
/*----------------------------------------*/
/*------------- About content ------------*/
/*----------------------------------------*/
.color-box{
    width: 80px;
    height: 80px;
    margin: 5px;
    text-align: center;
}
.color-box p{
    color: white;
    font-weight: bolder;
    margin-top: 30px; 
}
.illustrations img{
    width: 140px;
    height: 140px;
    padding: 5px;
}
.photos img{
    width: 140px;
    height: 240px;
    padding: 5px;            
}
/*----------------------------------------*/
/*-------------- Footer bar --------------*/
/*----------------------------------------*/
footer{
    color: white !important;
    z-index: 1;
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.92) 0%, rgba(122, 122, 198, 0.88) 64%, rgba(34, 31, 140, 0.92) 100%);
}
.footer-main .footer-main-links{
    padding: 30px;
    display: flex;
}
.footer-main .nav-title{
    width: 40%;
    padding-top: 5%;
    padding-right: 5%;
    font-size: 26px;
    border-right: 2px solid white;
}
.footer-main .nav-bar-links{
    margin-left: 30px;
}
.footer-main .nav-bar-links li{
    display: block; 
    padding: 4px;
}
.footer-main li:hover a{
    color: #ffff6f;
    transition: color 0.5s;
}
.footer-main a{
    font-family: 'Baloo Chettan', cursive;
    font-size: 18px;
    color: white;
    text-decoration: none;
}
.footer-main .copyright{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(122, 122, 198) 64%, rgb(34, 31, 140) 100%);
    padding: 20px;
}
